# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
.venv/
env/

# Data
*.csv
baselines/
# keep config but maybe ignore local overrides?
# config.yaml

# IDE
.vscode/
.idea/

# Docker
Dockerfile
docker-compose.yml
.dockerignore
